<h1>Hello world!</h1>
<p>I am a new app.</p>
<% if current_user.present? %>
  <p>Currently logged in user: <%= current_user.email %></p>
<% else %>
  <p>
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email&client_id=4181399072.150067510085">
      <img src="https://api.slack.com/img/sign_in_with_slack.png" />
    </a>
  </p>
<% end %>
